<header class="main-nav"> 
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-now">
				<button type="button">SUBSCRIBE NOW</button>
			</li>
			<li id="login">
				<button type="button">LOGIN</button>
			</li>
			<li id="settings-gear">
				<i class="fas fa-cog"></i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>