<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#"></a>CSS</li>
            <li><a href="#"></a>HTML</li>
            <li><a href="#"></a>JavaScript</li>
            <li><a href="#"></a>Ruby</li>
        </ul>
    </nav>
    <img class = "logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">
    </div>
</header>
	<ul class="masthead-links">
		<li>
			<time>Tuesday, October 18, 2016</time>
		</li>
		<li>
			<i class="far fa-newspaper"></i><a href="#">Today’s Paper</a>
		</li>
		<li>
			<i class="fas fa-video"></i><a href="#">Video</a>
		</li>
		<li>
			<button>77°F</button>
		</li>
		<li>
			<button>AAO <strong>+100%</strong></button>
		</li>
	</ul>
</header>



